.logo{
	height: 5.5em;
	margin: 20px;
}

main {
	margin: 3em 10em 0 10em;
}

.form-group {
	margin: 1em 0 1.5em 0;
}


.card-body button {
	padding-top: 0.1em; 
	padding-bottom: 0.1em;
}

.card-btn {
	margin: 0.5em 0 0.5em 0;
}