* {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	margin: 0%;
}

body {
	height: 100%;
	width: 100%;
	position: absolute;
	display: block;
}

header {
	height: 11%;
	width: 96%;
	padding: 2%;
	padding-bottom: 3%;
	text-align: center;

	background-image: url("../img/assets/background_header.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
nav {
	height: 100%;
	width: 11%;
	padding: 2%;
	border: 0px;
	float: left;
	text-align: left;
	line-height: 3em;

	background-image: url("../img/assets/background_nav.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar li a
{
	text-decoration: none;
	color: white;
	font-size: 1.3vw;
}

.navbar li a:hover{
	font-size: 1.7vw;
}

main {
	height: 100%;
	width: 81%;
	padding: 2%;
	float: left;
	border: 0px;
	text-align: center;

	background-image: url("../img/assets/background_main.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
footer {
	background-color: #ffff99;
	height: 2%;
	width: 96%;
	padding: 2%;
	clear: left;
	text-align: center;
}


.logo {
	height: 4.5em;
}

.menu, .connexion_bouton {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.menu_item, .connexion_bouton {
	display: inline-block;
	padding: 0.5em;
}

.menu_item a {
	color: white;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
}

#connexion {
	margin-left: 3em;
	border: 2px solid #2c2c2c;
	border-radius: 10px;
}

.menu_item:hover {
	background-color: #2c2c2c;
}

.active {
	background-color: #141414;
}

.jeux {
	width: 50px;
	height: 50px;
}

table, td, tr, th {
	border: 1px;
	border: solid;
	border-collapse : collapse;
}

input {
	width: 80%;
	border: 2px solid rgb(192, 192, 192);
}

input:focus {
	border: 3px solid #555;
}
